@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.list ul {
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  list-style-type: none;
  padding-top: 0.5vh;
}
.list{
  background-color: #1f1f1f;
  width: 100%;
  height: 5.5vh;
}

#link{
  text-align: center;
  padding:  1.5vh 1vh;
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 4vh;
  display: inline-block;
  position: relative;
}

#link:hover{
color: #3498db;
text-shadow: 0 0 5px rgba(88, 200, 135, 0.8);
}

#link::after {
  content: '';
  display:block;
  width: 0;
  height: 2px;
  background-color: #292929; 
  transition: width 0.3s, background-color 0.3s; 
}

#link:hover::after {
  width: 100%;
  background-color: #3498db; 
}
#contact{
  padding:  1.5vh 1vh;
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 4vh;
  display: inline-block;
  position: relative;
}
#contact:hover{
  color:#2ecc71;
  text-shadow: 0 0 10px rgba(88, 200, 135, 0.8);
}

#contact::after {
  content: '';
  display: block;
  width: 0;
  height: 2px; 
  background-color: #292929; 
  transition: width 0.3s, background-color 0.3s; 
}

#contact:hover::after {
  width: 100%; 
  background-color: #2ecc71; 
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .list {
    height: 7vh;
    flex-direction: column;
    align-items: flex-start;
  }

  #link{
    text-align: center;
    padding:  1.2vh 1vh;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
  }
  #contact{
    padding:  1.5vh 1vh;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2vh;
  }

}
