.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6ba443;
}

.list li {
  float: left;
}

#link{
  display: block;
  text-align: center;
  padding: 14px 16px;
  margin-left: 1%;
  text-decoration: none;
  color: white;
  width: 100%;
}

#link:hover{
background-color: #f57921;
}

